.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.about-description {
    flex: 1;
    padding-right: 20px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    padding-top0px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}