.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.about-description {
    flex: 1;
    padding-right: 20px;
}

.about-image {
    flex: 1;
    text-align: center;
}

.about-image img {
    padding-top:120px;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}
.paraAbt{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color:black

}
.abth1{
    
                text-align;: center,
                 paddingTop:35px
            
}