    
    
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
    body {
        margin: 0;
        padding: 0;
        background-color: #e0ebf0;
    }

    nav {
         background-color: #070944;
         color:yellow;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
        padding: 1.7rem 2rem;
        display: block;
        transition: background-color 0.3s ease, transform 0.3s ease;
        font-size: 20px;
        font-weight: bold;
        font-family: Moderna;
        
        
    }

    nav ul li a:hover {
        color:rgb(74, 199, 25);
        transform: translateY(-2px);
    }

   